<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Réserve</title>

    <link rel="icon" href="/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/3f051a4d8d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header
      class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
    >
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/"
        ><span class="logo"
        ><img class="logo-img" src="/logo.ico" alt="" /></span>La Réserve</a
      >
      <button
        class="navbar-toggler position-absolute d-md-none collapsed mt-1"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>


<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <div class="nav-item">
            <h5 class="nav-link">
              Hello<br><%= user.name %>!
            </h5>
        </div>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Dashboard</span>
          <a class="link-secondary">
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link"href="/organizations">
              Organizations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/management">
              Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/schedule">
              Schedule
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/report">
              Report
            </a>
          </li>
          <li class="nav-item">
            <p class="nav-link">
            </p>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>Account</span>
          <a class="link-secondary">
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              Profile Settings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/subscription">
              Subscription
            </a>
          </li>
          <li class="nav-item">
            <form action="/logout?_method=DELETE" method="POST">
              <button type="submit" style="background-color: #00000000; border: none;"><p class="nav-link">
                Sign out
              </p>
            </button>
            </form>
            
                  
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <%- body %>
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="form-popup" id="myForm">
        <form id="updateForm" name="updateForm" action="/update-settings" method="POST" class="form-container">
          <h5 id="form-title">Update your settings</h5>
          <input type="text" name="userInput" id="formUserInput">
          <label id="fromtxt" for="from" hidden>From </label>
          <input type="time" id="from" name="from" hidden>
          <label id="totxt" for="to" hidden>To </label>
          <input type="time" id="to" name="to" hidden>
          <h5 id="input2title" hidden>Update your settings</h5>
          <input id="input2" type="number" name="input2" hidden>
          <input type="text" name="orgId" id="orgId" hidden>
          <input type="text" name="chamberId" id="chamberId" hidden>
          <input type="text" name="selectedDate" id="selectedDate" hidden>
          <input type="text" name="members" id="members" hidden>
          <select name="chambers" id="chambers" hidden>
            <!-- <option value="">Select Chamber</option> -->
            <% if(locals.organizations) {%>
              <% organizations.forEach(element => {%>
                <% element.chambers.forEach(chamber => { %>
                  <option value='<%=element._id+","+chamber._id%>'</option><%=element.name+ " "+chamber.name%></option>
                <% }) %>
              <% }) }%>
          </select>
          <br>
          <br>
          <button id="actionButton" type="submit" class="btn btn-primary">Update</button>
          <button id="closeButton" type="button" class="btn btn-primary" onclick="closeForm()">Cancel</button>
        </form>
      </div>
    </div>
    
    <script src="/js/openform.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
