    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2 mt-4">My Organizations</h1>
      </div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Organization</th>
          <th scope="col">Chambers</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<organizations.length; i++) {%>
            <tr>
              <th scope="row"><%= organizations[i].name %></th>
              <td><%= organizations[i].chambers.length %></td>
              <td>
                <button class="btn btn-primary" onclick="window.location='management/#<%= organizations[i].name %>'"><i class="fas fa-solid fa-wrench"></i></button>
                <button class="btn btn-primary" onclick="openForm('delete','<%= organizations[i]._id%>')"><i class="fas fa-solid fa-trash"></i></button>
              </td>
            </tr>
         <% } %>
        </tbody>
      </table>
      <% if (organizations.length < 1) { %>
        <h4 style="color: grey;">Start by adding an organization below!</h4>
      <% } %>
      <h1 class="h2 mt-5">Add a new Organization</h1>
      <hr>
      <form id="AddOrganization" action="/new-organization" method="POST">
        <div class="row">
          <div class="col-6 col-sm-4 col-lg-3">
            <label for="name" class="form-label">Organization Name</label>
            <input
              name="name"
              type="text"
              class="form-control"
              id="name"
              required
            />
          </div>
          <div class="col-4 col-sm-4 col-lg-3">
            <label for="no" class="form-label">Chambers No.</label>
            <input
              name="no"
              type="number"
              class="form-control"
              id="no"
              required
            />
          </div>
          <div class="col-2 col-sm-2 col-lg-2">

            <button class="btn btn-primary btmarg"><i class="fas fa-solid fa-plus"></i></button>
          </div>
        </div>
      </form>
    </main>