<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h1 class="h2 mt-4">Profile Settings</h1>
    </div>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">Email</th>
          <td><%- user.username  %></td>
          <td>
            <button class="btn btn-primary" style="visibility: hidden;"><i class="fas fa-solid fa-wrench"></i></button>
          </td>
        </tr>
        <tr>
          <th scope="row">User Name</th>
          <td><%- user.name  %></td>
          <td>
            <button class="btn btn-primary" onclick="openForm('name')"><i class="fas fa-solid fa-wrench"></i></button>
          </td>
        </tr>
      <tr>
        <th scope="row">Phone Number</th>
        <td><%- user.phone  %></td>
        <td>
          <button class="btn btn-primary" onclick="openForm('phone')"><i class="fas fa-solid fa-wrench"></i></button>
        </td>
      </tr>
      <tr>
        <th scope="row">Password</th>
        <td>* * * * * *</td>
        <td>
          <button class="btn btn-primary" onclick="openForm('password')"><i class="fas fa-solid fa-wrench"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    
  </main>