<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h1 class="h2 mt-4">My Subscription</h1>
    </div>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">Current Plan</th>
          <td>Professional</td>
        </tr>
        <tr>
          <th scope="row">Organizations limit</th>
          <td>Unlimited</td>
        </tr>
        <tr>
          <th scope="row">Chambers limit</th>
          <td>Unlimited</td>
        </tr>
      </tbody>
    </table>

    <h1 class="h2 mt-5">Available Plans</h1>
    <hr>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Plan Name</th>
        <th scope="col">Organizations limit</th>
        <th scope="col">Chambers limit</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Free Trial</th>
        <td>1</td>
        <td>5</td>
        <td>
          <button class="btn btn-primary" onclick="openForm('sub')"><i class="fas fa-solid fa-cart-plus"></i></button>
        </td>
      </tr>
      <tr>
        <th scope="row">Basic</th>
        <td>1</td>
        <td>20</td>
        <td>
          <button class="btn btn-primary" onclick="openForm('sub')"><i class="fas fa-solid fa-cart-plus"></i></button>
        </td>
      </tr>
      <tr>
        <th scope="row">Professional</th>
        <td>Unlimited</td>
        <td>Unlimited</td>
        <td>
          <button class="btn btn-primary disabled" onclick="openForm('sub')"><i class="fas fa-solid fa-cart-plus"></i></button>
        </td>
      </tr> 
      </tbody>
    </table>
  </main>