body {
  padding: 0;
  margin: 0;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

hr {
  margin: 1rem 10%;
  color: black;
  background-color: black;
  height: 1px;
  border: 0;
  opacity: 0.25;
}

.navbar {
  box-shadow: 0 8px 22px rgb(2, 4, 24, 0.1);
  min-height: 5rem;
}

.logo-img {
  width: 2.5rem;
  position: relative;
  /* right: 15px; */
  /* bottom: 6px; */
}

.logo-text {
  position: relative;
  left: 10px;
}

.main-text {
  margin-top: 6rem;
}

#features {
  padding: 100px 0;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: rgb(216, 216, 216);
  position: relative;
}

.bgd {
  background-color: rgb(216, 216, 216);
}

.iconn {
  /* color: #7c7c7c; */
  /* color: 212529; */
  color: #0d6efd;
  font-size: 5rem;
  padding-bottom: 20px;
}

.p-column {
  padding: 3% 2%;
  text-align: center;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

h3 {
  font-size: 1.5rem;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

.iconn:hover {
  color: #404449;
  cursor: grab;
}

.co2 {
  padding: 50px 20px;
  text-align: center;
}

.msg-holder {
  text-align: center;
  width: 7rem;
  /* border-radius: 0.7rem; */
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
  margin: 1rem 0;
  background-color: rgb(240, 240, 240);
  float: left;
}

.msg {
  text-decoration: none;
  color: black;
}

#pricing {
  padding: 4rem 10%;
}

#testimonials {
  /* color: ; */
  min-height: 47rem;
  background-color: rgb(216, 216, 216);
  text-align: center;
}

#testimonialscarousel {
  padding: 7% 15%;
  margin-bottom: 5rem;
}


.bubble:hover a img {
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

.bubble .msg {
  display: none;
}

.bubble:hover .msg {
  display: contents;
}

.bubble:hover div {
  display: inline;
  transform: translate(-1rem, 0);
  transition: all 0.3s ease-in-out 0s;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.form {
  padding: 3% 10% 0% 10%;
}

.opt {
  font-size: 0.7rem;
}

.ab {
  align-self: center;
  margin: 2rem;
}

.ab_contact {
  font-size: 14px;
  text-align: right;
  padding: 5% 5%;
  background-color: white;
  position: relative;
}

.ab_text {
  text-align: center;
}


.b-img {
  border-radius: 100%;
  width: 3.5rem;
}

.bubble {
  align-items: center;
  bottom: 21px;
  right: 23px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  box-sizing: border-box;
  direction: ltr;
  position: fixed;
  z-index: 99999;
}
